:root {
    --green: rgb(3, 167, 3);
    font-family: cursive;
    box-sizing: border-box;
}

header {
    display: flex;
    position: fixed;
    float: inherit;
    flex-direction: row;
    left: 20vw;
    font-size: 2vmax;
    background-color: white;
    margin-top: -10vmax;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 10%;
}
h1 {
    text-align: center;
    text-decoration: underline black;
    border: 2px solid white;
    background-attachment: fixed;
}
.complementary {
    color: rgb(255, 255, 0);
    text-decoration: underline rgb(231, 215, 215);
}
.main-content {
    margin-top: 100px;
    position: relative;
}
body {
    background-color: white;
}

.main-heading {
    color: var(--green);
}
p {
    text-align: justify;
    text-justify: kashida;
}
input,
button {
    margin: 2%;
}
.shiftCipher,
.affineCipher,
.rsa-crypto {
    display: flex;
    flex-direction: column;
    border: 0.2em solid var(--green);
    width: 90%;
    margin: 2%;
    font-size: 1em;
    padding: 0% 4% 2% 3%;
}
.affineCipher {
    height: 700px;
    overflow: scroll;
    scroll-behavior: smooth;
}
input {
    margin: 1% 2%;
}
.math {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
marquee {
    color: white;
    font: caption;
    background-color: var(--green);
    position: sticky;
    bottom: 0%;
    margin: auto;
    padding: 0.2rem;
}
select {
    width: 35%;
    margin: 1% 2%;
}
#keys {
    display: none;
}
