:root {
    --green: rgb(3, 167, 3);
    font-family: cursive;
}
* {
    box-sizing: border-box;
}

header {
    display: flex;
    position: fixed;
    flex-direction: row;

    left: 10vw;
    font-size: 3vmax;

    margin-top: -5%;
    margin-bottom: -4%;
}
h1 {
    text-align: center;
}
.complementary {
    color: yellow;
}
.main-content {
    position: relative;
    top: 100px;
}
body {
    background-color: white;
}

.main-heading {
    color: var(--green);
}
.shiftCipher {
    clear: both;
    display: inline-grid;
    grid-template-columns: auto;
    grid-gap: 10px 80px;
    border: 0.2em solid var(--green);
    width: 90%;
    margin: 2%;
    font-size: 1em;
    padding: 0% 4% 2% 3%;
}
input {
    margin: 1% 2%;
}
